@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: black;
}


.main {
    background-image: url("assests/img/backimg.jpg");
    /* perfectly centered in the middle of the box,horizontally and vertically*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0%;
    background-color: black;

}

nav {
    display: flex;
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 62px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 5px;
    padding: 0 30px;

}

/* > this refers to the immediate first child */
.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 56px;
    line-height: 70px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    font-size: 56px;
    line-height: 70px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(4) {
    margin-top: 29px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.seperation {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.but {
    padding: 0px 41px;
    line-height: 30px;
    color: white;
    background-color: rgba(248, 243, 243, 0.187);
    font-weight: 400;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;


}

.red {
    background-color: red;
    color: white;
    border: black;
    padding: 3px 19px;
    line-height: 27px;

}

.red1 {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: black;
    margin-top: 10px;
}

.main input {

    padding: 7px 101px 8px 14px;
    color: white;
    margin-top: 10px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*.first{
    display:flex;
    justify-content: center;
    max-width: 70vw;
    margin:auto;
    color:white;
    justify-content: center;
    align-items: center;
}*/
.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 12%;
    color: white;
    border-bottom: 8px solid #222;
    background-color: black;
}

.feature-text {
    flex: 1;
    padding-right: 20px;
}

.feature-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.feature-text p {
    font-size: 1.5rem;
    font-weight: 400;
}

.feature-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.feature-image img {
    width: 100%;
    max-width: 640px;
    z-index: 1;
}

/* Media query for responsive design */
@media (max-width: 950px) {
    .feature {
        flex-direction: column;
        text-align: center;
        padding: 50px 5%;
    }

    .feature-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .feature-text h2 {
        font-size: 2rem;
    }

    .feature-text p {
        font-size: 1.2rem;
    }
}

.feature-text2 {
    flex: 1;
    padding-right: 20px;
    margin-left: 65px;

}

.feature-text2 h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.feature-text2 p {
    font-size: 1.5rem;
    font-weight: 400;
}

.feature-image2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.feature-image2 img {
    width: 100%;
    max-width: 640px;
    z-index: 1;
}

@media (max-width: 950px) {
    .feature {
        flex-direction: column;
        text-align: center;
        padding: 50px 5%;
    }

    .feature-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .feature-text h2 {
        font-size: 2rem;
    }

    .feature-text p {
        font-size: 1.2rem;
    }
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faqbox svg{
    filter: invert(1);
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
    border-bottom: 8px solid #222;
    background-color: black;
}
.faqbox:hover{
    background-color: rgb(164, 146, 146);
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: auto;
    margin-top: 9px;
    justify-content: space-between;
    cursor: pointer;
}
footer{
    color:white;
    max-width:60vw;
    margin: auto;
    padding: 14px;
}
footer .qa{
    padding: 34px 0;
}
.footer a{
    font-size: 14px;
    color: white;

}
    
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    

}
.footer-item{
    display:flex;
    flex-direction: column;
    gap:23px;
}
.last{
    margin-top: 59px;
    font-size:small;
    font-weight: lighter;
    
}
.last1{
    margin-top: 70px;

}